<div>
    <h1>Welcome to Coffee API</h1>
        <form action="/" method="post">
            <button type="submit" name="coffeeType" value="hot" class="button">Hot cofee</button>
            <button type="submit" name="coffeeType" value="iced" class="button">Iced coffee</button>
        </form>
</div>